{% from "bootstrap5/form.html" import render_form %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-5">
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="https://media.giphy.com/media/da78HFLxC9V5SaPmZy/giphy.gif" class="d-block mx-lg-auto img-fluid" alt="Gif" width="700" height="500" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">URL Shortener!</h1>
            
            {{ render_form(form) }}

            {% if short_url %}
                <div class="mt-3">
                    <p class="lead">Shortened URL: <a href="{{ short_url }}" target="_blank">{{ short_url }}</a></p>
                </div>
            {% endif %}

        </div>
      </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
